
/* Background Colour for the whole page and clearing out margin and padding */
body {
	background-color: #9fc4c6;
	padding: 0px;
	margin: 0px;
}

/* id selector to alter just 1 paragraph to different font */
#moxie {
	color: #ffccff;
	font-size: 4em;
	font-weight: bold;
	font-style: italic;
}
/* Style for the heading1 */
h1 {
	color: maroon;
	margin-left: 2em;
	font-size: 8em;
	font-family: Verdana, sans-serif;
}

/* Style for the paragraphs */
p {
	font-size: 3em;
	margin-left: 3em;
	font-family: Verdana, sans-serif;
}

/* Place the topnav at the top of the page and make it stick. */
.topnav ul {
	list-style-type: none;
	background-color: #4d7d80;
	text-align: center;
	overflow: hidden;
	padding: 2em;
	margin: 1em;
}

/* Styling list items to display as blocks in the navigation bar. */
.topnav li {
	display: inline-block;
	font-family: verdana, sans-serif;
	padding: 2em;
	margin: 1em;
}
	
	
/* Styling the a elements to block elements in the interior of the navigation bar. */
.topnav a {
	font-size: 40px;
	line-height: 2em;
	font-weight: bold;
	padding: 2em;
	margin: 1em;
	text-decoration: none;
}

/* Styling when hovering on the topnav. */
.topnav a:hover {
	background-color: #eff5f5;
	color: #000099;
}

/* Styling of the topnav when its been clicked. */
.topnav a.active {
	background-color: #4d7d80;
	color: #800000;
}
