<!DOCTYPE HTML>
<html>
<head>
<style>
/* Background Colour for the whole page */
body {
	background-color: #ffffcc;
}

/* Style for the heading1 */
h1 {
	color: maroon;
	margin-left: 40 px;
	font-size: 40 px;
}

/* Style for the paragraphs */
p {
	font-size: 50 px;
	margin-left: 45 px;
	margin-right: 45 px;
	font-family: Verdana, sans-serif;
}

/* Place the topnav at the top of the page and make it stick. */
.topnav {
	list-style-type: none;
	overflow: hidden;
	background-color: #b3d9ff;
	top: 0;
}

/* Styling the interior of the navigation bar. */
.topnav a {
	float: left;
	color: #000099;
	text-align: center;
	padding: 10 px 12 px;
	font-size: 35 px;
}

/* Styling when hovering on the topnav. */
.topnav a:hover {
	background-color: #333399;
	color: #000099;
}

/* Styling of the topnav when its been clicked. */
.topnav a.active {
	background-color: #b3d9ff;
	color: #800000;
}

</style>
</head>
</html>
