
/* Background Colour for the whole page */
body {
	background-color: CadetBlue;
	opacity: 0.3;
}

/* Style for the heading1 */
h1 {
	color: maroon;
	margin-left: 80 px;
	font-size: 70 px;
}

/* Style for the paragraphs */
p {
	font-size: 65 px;
	margin-left: 45 px;
	margin-right: 45 px;
	font-family: Verdana, sans-serif;
}

/* Place the topnav at the top of the page and make it stick. */
.topnav {
	list-style-type: none;
	overflow: hidden;
	background-color: #b3d9ff;
	top: 0;
	display: inline-block;
}

/* Styling the interior of the navigation bar. */
.topnav a {
	float: left;
	display: block;
	color: #000099;
	text-align: center;
	padding: 30 px 30 px;
	font-size: 35 px;
	height: 50 px
	width: 120 px
}

/* Styling when hovering on the topnav. */
.topnav a:hover {
	background-color: #333399;
	color: #000099;
}

/* Styling of the topnav when its been clicked. */
.topnav a.active {
	background-color: #b3d9ff;
	color: #800000;
}
